<div class="row">
  <div class="col s12 section">
    <h4><%= @leaderboard.name %></h4>
  </div>
</div>

<div class="row leaderboard__table-wrapper--eligible">
  <h5>Eligible Players</h5>

  <%= render partial: "table", locals: { records: @records.eligible } %>
</div>

<div class="row leaderboard__table-wrapper--ineligible">
  <h5>Ineligible Players</h5>

  <%= render partial: "table", locals: { records: @records.ineligible } %>
</div>
