<div class="row">
  <div class="col s12 section">
    <h4>Seasons</h4>
  </div>
</div>

<div class="row">
  <ul class="collection">
    <% @seasons.each do |season| %>
      <li class="collection-item">
        <div>
          <%= link_to season_leaderboards_path(season) do %>
            <%= season.name %>

            <% if season.active? %>
              <span class="new badge" data-badge-caption="active"></span>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
